fastapi==0.115.12
uvicorn[standard]==0.34.3
gunicorn==23.0.0
python-multipart==0.0.20
python-dotenv==1.1.0
requests==2.32.3
redis==6.2.0
pinecone==7.0.2
yt-dlp[default,curl-cffi]
imageio-ffmpeg==0.6.0
groq>=0.28.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
slowapi==0.1.9
motor==3.7.1